<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <!-- navigation -->
  <header>
    <nav>
      <a href="http://localhost:3000/" class="nav-title">回首頁</a>
      <ul class="nav-link">
        <li><a href="http://localhost:3000/about">About</a></li>
        <li><a href="http://localhost:3000/portfolio">Portfolio</a></li>
        <li><a href="http://localhost:3000/contact">Contact</a></li>
      </ul>
    </nav>
  </header>


  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}
</body>

</html>